<div class="container">
  <!-- Header -->
  <app-header></app-header>
  <!-- Outlet -->
  <router-outlet></router-outlet>
</div>

<!-- <h1>Hello</h1> -->

<!-- <app-user-list></app-user-list> -->

<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-login></app-login> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-parent></app-parent> -->
<!-- <app-todo></app-todo> -->

<!-- <button (click)="onToggle()">Toggle</button>

<app-life-cycle-demo [title]="title" *ngIf="show"></app-life-cycle-demo> -->
