<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">Login Form</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="enter username here..."
              formControlName="username"
            />
            <label for="username">Username :</label>
            <div
              [hidden]="
                loginForm.get('username')?.valid ||
                loginForm.get('username')?.untouched
              "
            >
              <div
                [hidden]="!loginForm.get('username')?.hasError('required')"
                class="alert alert-danger"
              >
                - Username is mandatory field
              </div>
              <div
                [hidden]="!loginForm.get('username')?.hasError('email')"
                class="alert alert-danger"
              >
                - Username must be in proper email format
              </div>
            </div>
          </div>
          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="enter password here..."
              formControlName="password"
            />
            <label for="password">Password :</label>
          </div>
          <!-- button -->
          <div class="d-grid gap-2 d-flex justify-content-center">
            <button
              [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-primary"
            >
              Login
            </button>
            <button type="buttton" class="btn btn-warning">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
