<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-body">
        <form (submit)="onFormSubmit(myForm)" #myForm="ngForm">
          <!-- stars -->
          <div class="form-group">
            <label for="stars"><strong>Stars :</strong></label>
            <select class="form-control my-2" ngModel name="stars" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <!-- body -->
          <div class="formm-group my-2">
            <textarea
              class="form-control"
              cols="30"
              rows="8"
              placeholder="your message here..."
              ngModel
              name="body"
              required
              minlength="10"
            ></textarea>
          </div>
          <!-- author -->
          <div class="form-group my-2">
            <label for="email"><strong>Email :</strong></label>
            <input
              type="email"
              class="form-control"
              ngModel
              name="author"
              required
              email
            />
          </div>
          <!-- buttons -->
          <div class="form-group my-2">
            <div class="d-grid">
              <button
                [disabled]="!myForm.valid"
                type="submit"
                class="btn btn-secondary"
              >
                Add
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
