<div class="row my-1">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item" [ngStyle]="{ cursor: 'pointer' }">
        <a class="nav-link" [ngClass]="{ active: tab === 1 }" (click)="tab = 1"
          >Show Comments</a
        >
      </li>
      <li class="nav-item" [ngStyle]="{ cursor: 'pointer' }">
        <a class="nav-link" [ngClass]="{ active: tab === 2 }" (click)="tab = 2"
          >Add Comment</a
        >
      </li>
    </ul>
  </div>
  <div class="col-12 m-1" [ngSwitch]="tab">
    <div *ngSwitchCase="1" class="p-3">
      <blockquote
        *ngFor="let comment of comments"
        class="blockquote"
        [ngStyle]="myStyle"
      >
        <strong>Stars : {{ comment.stars }}</strong>
        <p>
          {{ comment.body }}
          <cite class="float-end"> - {{ comment.author }}</cite>
        </p>
      </blockquote>
    </div>
    <div *ngSwitchCase="2">
      <app-comment-form></app-comment-form>
    </div>
  </div>
</div>
