<div class="container">
  <h2 class="text-center">My User List</h2>

  <ul class="list-group">
    <li class="list-group-item my-2" *ngFor="let user of users">
      <div class="row">
        <div class="col-3">
          <app-user-img
            [user]="user"
            (childEvent)="moreInfo($event)"
          ></app-user-img>
        </div>

        <div class="col-9">
          <app-user-info [user]="user"></app-user-info>
        </div>
      </div>
      <!-- user comment -->
      <app-user-comment [comments]="user.comments"></app-user-comment>
    </li>
  </ul>
</div>

<!--
<div [ngSwitch]="'101'">
  <div *ngSwitchCase="1">Output 1</div>
  <div *ngSwitchCase="2">Output 2</div>
  <div *ngSwitchCase="3">Output 3</div>
  <div *ngSwitchCase="4">Output 4</div>
  <div *ngSwitchDefault>Default OUTPUT</div>
</div> -->
